groq==0.9.0
httpx==0.27.2
chromadb>=0.6.0
SQLAlchemy>=2.0.32
sentence-transformers==2.7.0
gradio[oauth]
huggingface_hub
pymupdf>=1.24.2
python-pptx==0.6.23
beautifulsoup4==4.12.3
requests==2.31.0
gtts==2.5.1
pydub==0.25.1
numpy>=1.26.4
python-dotenv==1.0.1
torch>=2.2.2
transformers>=4.40.0
fastapi
uvicorn
python-multipart
tiktoken
imageio-ffmpeg==0.5.1
edge-tts==6.1.9
soundfile
librosa
